.wrapper{
  margin: 3em auto 0 auto;
  max-width: 80%;
  padding: 3em 0;
  background-color: rgba(255,255,255, 0.85);
}

.wrapper h2{
  line-height: 1.5;
}

.textWrapper{
  width: 80%;
  margin: 0 auto;
}

.homePara{
  text-align: justify;
  padding: 0.2em 3em 0 3em;
  font-size: 1.3em;
  line-height: 1.3;
}
.navbar{
  padding: 1em 2em;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3), rgba(0,0,0,0.6));
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link{
  color: rgba(255,255,255,0.9);
}

.card-margin{
  margin: 0 0.75em;
}

#header_main{
  /* text-align: center; */
  margin-top: .5em;
  padding: 0 1em;
  color: #fff;
  font-weight: bold;
  font-size: 3.5em;
}

#flyover {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

.overlay{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-color: rgba(0,0,0,0.6);
}

.navbar-dark .navbar-nav .show>.nav-link{
  background-color: rgba(0,0,0,0.4);
  margin: 0;
}

.dropdown-menu{
  background-color: rgba(0,0,0,0.4);
  border: 0;
  border-radius: 0;
  margin: 0;
}

.dropdown-item{
  color: #fff;
  border-radius: 0;
}

.dropdown-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.resourcesList{
  text-align: center;
}

.resourcesList li{
  list-style-type: none;
  padding: .2em 0;
  font-size: 1.2em;
}

.contactPara{
  text-align: center;
  padding: 0.2em 3em 0 3em;
  font-size: 1.3em;
  line-height: 1.3;
}

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  border: 2px solid rgba(0,0,0,0.9);
  border-radius: 6px;
  /* background-color: rgba(0,0,0,0.6); */
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.8));
  padding: 1em;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  #header_main{
    font-size: 2.5em;
  }

  .wrapper{
    max-width: 80%;
  }

}

@media only screen and (max-width: 768px) {
  #header_main{
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {

}
