body{
  font-family: 'Crimson Text', serif;
}

.subnavbar-brand{
    margin-left: 8em;
    margin-top: -1.5em;
    margin-bottom: 0;
    font-size: 1.5em;
}


.bwSection{
  background-color:rgba(0,0,0,1) !important;
  color: #fff !important;
}

.whitebackground{
  background-color: #fff;
}

.flex-even {
  flex: 1;
}

.container{
  /* max-width: 1366px; */
  max-width: 100%;
}


.attorneysContainer{
    max-width: 1366px;
    /* max-width: 100%; */
    margin: 0 auto;
    text-align: center;
    padding: 3em 0;
}
.wrapper{
  /* margin: 3em auto 0 auto;
  max-width: 80%; */
  /* background-color: rgba(255,255,255, 0.85); */
  background-color: #fff;
  margin-top: 7.4em;
}

.wrapper h2{
  line-height: 1.5;
}

.textWrapper{
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
}

.homePara{
  text-align: justify;
  padding: 0.2em 0.8em;
  font-size: 1em;
  line-height: 1.1;
}

.formWrapper{
    width: 80%;
    margin: 0 auto 2em auto;
}

.btn{
  margin: 0 auto;
  text-align: center;
}

.contactInfoList{
  list-style-type:none;
  /* text-align:center; */
  padding: 0 3em;
}

.contactInfoList li{
  /* text-decoration: underline; */
  border-bottom: 1px solid black;
  padding: 1em 0 0.6em 0;;
}

.map{
  display: block;
  border:0;
  margin: 0 auto;
}

.formHeader{
  text-align: center;
  text-decoration: underline;
}

.map{
  margin: 0 auto;
  position: static;
  width: 50%;
}
.navbar{
  padding: 1em 2em;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3), rgba(0,0,0,0.6));
  background-image: linear-gradient(rgba(0,0,0,1), rgba(33,33,33,1), rgba(0,0,0,1));
  background-color: #000;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link{
  color: rgba(255,255,255,0.9);
  font-size: 1.25em;
}

.navbar-brand{
  font-weight:bold;
  font-size:2em;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 1em;
}


.card-title{
  text-transform: capitalize;
}

.card-margin{
  margin: 1em 0.75em;
}

#header_main{
  text-align: center;
  padding: 0 1em;
  color: #fff;
  font-weight: bold;
  font-size: 4.5em;
}

.heightHome{
    height: 50vh;
}

.marginHeightHome{
    margin-top: 3em;
}

.marginHeight{
    margin-top: 1em;
}

.subheader{
  text-align: center;
  padding: 0.3em 1em;
  color: #fff;
  font-weight: bold;
  font-size: 3.5em;
}

#flyover {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

.overlay{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-color: rgba(0,0,0,0.6);
}

.smOverlay{
  height: 100%;
  width: 100%;
  /* opacity: 0; */
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  transition: opacity .5s;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2;
}

.navbar-dark .navbar-nav .show>.nav-link{
  background-color: rgba(0,0,0,0.4);
  margin: 0;
}

.dropdown-menu{
  background-color: rgba(0,0,0,0.4);
  border: 0;
  border-radius: 0;
  margin: 0;
}

.dropdown-item{
  color: #fff;
  border-radius: 0;
}

.dropdown-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.section{
  background-color: rgba(255,255,255,1);
  /* background-color: rgba(0,0,0,1); */
  color: #000;
  padding: 4em 12em;
  /* padding: 0 2em;
  /* padding: 4em 0; */
}

.square{
  height: 30em;
  /* max-width: 27em; */
  /* margin: 1.5em 1em; */
  /* border: 6px solid rgb(177,177,177); */
  margin: 2em 1em;
  text-align: center;
  padding: 0 4em;
  box-shadow: 4px 5px 10px rgba(0,0,0,0.4);
}

.square h3{
  font-size: 2em;
  margin-top: 6.5em;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  padding: .3em 0;
  line-height: 1;
  vertical-align: middle;
  color: #fff;
  z-index: 5;
  position: relative;
}

#attorney h4{
  padding: 1.67em 0;
  margin-bottom: 0;
}

#services{
  padding-top: 4em;
}

#services h4{
  padding: 0.77em 0;
  margin-bottom: 0;
}

.square h4 a{
  font-size: 1em;
  color: #fff;
}

#about, #resources, #contact, #attorney, #morgan{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

#about{
  background-image: url(/assets/media/morgan.jpg);
}

#resources{
  background-image: url(/assets/media/_DSC4124.jpg);
}

#contact{
  background-image: url(/assets/media/_DSC4126.jpg);
}

#attorney{
  background-image: url(/assets/media/morgan2.jpg);
}

#morgan{
  background-image: url(/assets/media/morgan3.jpg);
  height: 25em;
  box-shadow: 4px 5px 10px rgba(0,0,0,0.4);
  /* width: 60%; */
  /* border-radius: 100%; */
}

#aboutImg{
  background-image: url(/assets/media/morgan3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 22em;
  /* box-shadow: 4px 5px 10px rgba(0,0,0,0.4); */
  /* width: 60%; */
  /* border-radius: 100%; */
}

#aboutImg2{
  background-image: url(/assets/media/_DSC4126.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 22em;
  /* box-shadow: 4px 5px 10px rgba(0,0,0,0.4); */
  /* width: 60%; */
  /* border-radius: 100%; */
}


#services{
  /* padding: 5em; */
}

#services .iconBox{
  text-align: center;
  /* padding: 4em; */
  height: 12em;
  min-width: 12em;
  margin: 1em 0;
}

#services a{
  color: #fff;
  font-size: 1em;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

#services a:hover{
 text-decoration: none;
}

#services i{
  color: #fff;
  font-size: 3em;
  margin-top: 0.8em;
  /* padding: 0.2em;
  border: 5px solid #fff;
  border-radius: 100%; */
}

.backgroundLightGrey{
  background-color: rgb(177,177,177);
}

.backgroundGrey{
  background-color: rgb(99,99,99);
}

.backgroundDarkGrey{
  background-color: rgb(22,22,22);
}

.backgroundOrange{
  background-color: rgb(170, 108, 57);
}

.backgroundDarkGrey{
  background-color: rgb(22,22,22);
}

.infoSection{
  text-align: justify;
  padding: 2em 6em 0 6em;
  font-size: 1.3em;
}

.infoSection p{
  text-indent: 2em;
}


.resourcesList{
  text-align: center;
  border: 6px double #000;
  border-radius: 16px;
  width: 30em;
  margin: 1em 3em;
  padding: 1em 0;
  box-shadow: 4px 5px 10px rgba(0,0,0,0.4);
}

.resourcesList li{
  list-style-type: none;
  padding: .2em 0;
  font-size: 1.2em;
}

.resourcesList li a{
  color: #000;
}

.contactPara{
  text-align: center;
  padding: 0.2em 3em 0 3em;
  font-size: 1.3em;
  line-height: 1.3;
}

#footer{
  color: white;
  text-align: center;
  /* border: 2px solid rgba(0,0,0,0.9); */
  border-radius: 6px;
  background-color: rgba(0,0,0,1);
  /* background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.8)); */
  padding: 3em 4em 3em 0;
  width: 100%;
  font-size: 1.2em;
}

#footer h5{
  padding: 0 0 1em 0;
}

#footer p{
  font-size: 0.9em;
}

#footer a{
  color: #fff;
}

#footer a:hover{
  text-decoration: underline;
}

#footer i{
  font-size: 1.3em;
  padding: 0 1em;
}

@media only screen and (max-width: 1024px) {
  #header_main{
    font-size: 2.5em;
  }

  /* .wrapper{
    max-width: 80%;
  } */

}

@media only screen and (max-width: 768px) {
  #header_main{
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {

}
