<header>
    <h2 class="subheader marginHeight">865LAW</h2>
  <h1 id="header_main">MATTHEW DAVID BAROCAS, P.C.</h1>
    <h2 class="subheader">Attorney at law</h2>
</header>

<div class="card wrapper">
<div class="container attorneysContainer">
  <div class="row justify-content-center">
  <div class="card card-margin" style="width: 18rem;">
  <img src="/assets/media/morgan.jpg" class="card-img-top" alt="David Morgan">
  <div class="card-body">
    <h5 class="card-title">David Morgan</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, et maluisset omittantur vix. Ea quis adipiscing eum, cu vis malorum voluptua, vel eu enim mundi. Ex oblique blandit albucius pro. His veri solet no.</p>
  </div>
  </div>

  <div class="card card-margin" style="width: 18rem;">
  <img src="/assets/media/morgan2.jpg" class="card-img-top" alt="Bob Lob Law">
  <div class="card-body">
    <h5 class="card-title">Bob Loblaw</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, et maluisset omittantur vix. Ea quis adipiscing eum, cu vis malorum voluptua, vel eu enim mundi. Ex oblique blandit albucius pro. His veri solet no.</p>
  </div>
  </div>

  <div class="card card-margin" style="width: 18rem;">
  <img src="/assets/media/morgan3.jpg" class="card-img-top" alt="Harvey Birdman">
  <div class="card-body">
    <h5 class="card-title">Harvey Birdman</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, et maluisset omittantur vix. Ea quis adipiscing eum, cu vis malorum voluptua, vel eu enim mundi. Ex oblique blandit albucius pro. His veri solet no.</p>
  </div>
  </div>

</div><!-- end row -->
</div><!-- end container -->
</div>
