<div class="card wrapper">
  <div class="textWrapper">
  <h3>AUTOMOBILE & OTHER ACCIDENT & PERSONAL INJURY CLAIMS & LITIGATION</h3>
  </br>
  <h3>WORKER'S COMPENSATION CLAIMS</h3>
  </br>
  <h3>DEBT COLLECTION & JUDGMENT ENFORCEMENT</h3>
  </br>
  <h3>CONSTRUCTION LITIGATION</h3>
  </br>
  <h3>INSURANCE COVERAGE DISPUTES & CLAIMS</h3>
  </br>
  <h3>BREACH OF CONTRACT & WARRANTY CASES</h3>
  </br>
  <h3>"BUSINESS DIVORCE" LITIGATION</h3>
  </br>
  <h3>MARITAL DISSOLUTION, DIVORCE & CHILD CUSTODY LITIGATION</h3>
  </br>
  </div>
</div>
