<header>
    <h2 class="subheader marginHeight">865LAW</h2>
  <h1 id="header_main">MATTHEW DAVID BAROCAS, P.C.</h1>
    <h2 class="subheader">Attorney at law</h2>
</header>

<div class="card wrapper">
<div class="container attorneysContainer">
  <div class="row justify-content-center">
  <div class="card card-margin" style="width: 24rem;">
  <img src="/assets/media/placeholder.jpg" class="card-img-top" alt="placeholder">
  <div class="card-body">
    <h5 class="card-title">automobile & other accident & personal injury claims & litigation</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, et maluisset omittantur vix. Ea quis adipiscing eum, cu vis malorum voluptua, vel eu enim mundi. Ex oblique blandit albucius pro. His veri solet no.</p>
  </div>
  </div>

  <div class="card card-margin" style="width: 24rem;">
  <img src="/assets/media/placeholder.jpg" class="card-img-top" alt="placeholder">
  <div class="card-body">
    <h5 class="card-title">worker's compensation claims</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, et maluisset omittantur vix. Ea quis adipiscing eum, cu vis malorum voluptua, vel eu enim mundi. Ex oblique blandit albucius pro. His veri solet no.</p>
  </div>
  </div>

  <div class="card card-margin" style="width: 24rem;">
  <img src="/assets/media/placeholder.jpg" class="card-img-top" alt="placeholder">
  <div class="card-body">
    <h5 class="card-title">debt collection & judgment enforcement</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, et maluisset omittantur vix. Ea quis adipiscing eum, cu vis malorum voluptua, vel eu enim mundi. Ex oblique blandit albucius pro. His veri solet no.</p>
  </div>
  </div>

  <div class="card card-margin" style="width: 24rem;">
  <img src="/assets/media/placeholder.jpg" class="card-img-top" alt="placeholder">
  <div class="card-body">
    <h5 class="card-title">construction litigation</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, et maluisset omittantur vix. Ea quis adipiscing eum, cu vis malorum voluptua, vel eu enim mundi. Ex oblique blandit albucius pro. His veri solet no.</p>
  </div>
  </div>

  <div class="card card-margin" style="width: 24rem;">
  <img src="/assets/media/placeholder.jpg" class="card-img-top" alt="placeholder">
  <div class="card-body">
    <h5 class="card-title">insurance coverage disputes & claims</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, et maluisset omittantur vix. Ea quis adipiscing eum, cu vis malorum voluptua, vel eu enim mundi. Ex oblique blandit albucius pro. His veri solet no.</p>
  </div>
  </div>

  <div class="card card-margin" style="width: 24rem;">
  <img src="/assets/media/placeholder.jpg" class="card-img-top" alt="placeholder">
  <div class="card-body">
    <h5 class="card-title">breach of contract & warranty cases</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, et maluisset omittantur vix. Ea quis adipiscing eum, cu vis malorum voluptua, vel eu enim mundi. Ex oblique blandit albucius pro. His veri solet no.</p>
  </div>
  </div>

  <div class="card card-margin" style="width: 24rem;">
  <img src="/assets/media/placeholder.jpg" class="card-img-top" alt="placeholder">
  <div class="card-body">
    <h5 class="card-title">"business divorce" litigation</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, et maluisset omittantur vix. Ea quis adipiscing eum, cu vis malorum voluptua, vel eu enim mundi. Ex oblique blandit albucius pro. His veri solet no.</p>
  </div>
  </div>

  <div class="card card-margin" style="width: 24rem;">
  <img src="/assets/media/placeholder.jpg" class="card-img-top" alt="placeholder">
  <div class="card-body">
    <h5 class="card-title">marital dissolution, divorce & child custody litigation</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, et maluisset omittantur vix. Ea quis adipiscing eum, cu vis malorum voluptua, vel eu enim mundi. Ex oblique blandit albucius pro. His veri solet no.</p>
  </div>
  </div>

</div><!-- end row -->
</div><!-- end container -->
</div>
