<header>
    <div style="opacity: 0;">
    <h2 class="subheader marginHeight">865LAW</h2>
  <h1 id="header_main">MATTHEW DAVID BAROCAS, P.C.</h1>
    <h2 class="subheader">Attorney at law</h2>
    </div>
</header>

<section class="section">
  <h1 class="formHeader">Contact Us</h1>
<div class="container">
  <div class="row formWrapper">
    <div class="col-md">
      <ul class="contactInfoList">
        <li>Mathew David Barocas, P.C.</li>
        <li>First Tennessee Plaza</li>
        <li>616 W. Hill Ave.</li>
        <li>Knoxville, TN 37902</li>
        <li>(865) 288-7877</li>
        <li>info@865Law.com</li>
      </ul>
    </div>
  <div class="col-md">
        <form action="/api/email" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="John Doe">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
    </div>
  </div>
<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3229.3687149557836!2d-83.91824488441264!3d35.9624100221065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885c17c154bc4c63%3A0x66e9b305340c5b2f!2sFirst+Tennessee+Plaza%2C+800+S+Gay+St%2C+Knoxville%2C+TN+37929!5e0!3m2!1sen!2sus!4v1550532530656" width="600" height="450" frameborder="0" style="" allowfullscreen></iframe>


<!-- SAM THIS IS THE STUFF I NEED YOU TO UPDATE -->
    <div class="col-md">
     <label for="amount">Amount</label>
     <input type="number" class="form-control" min="0.01" step="0.01" id="amount" name="amount" value="1.00" onchange="updateAmount(this.value)">
    <div id="paypal-button-container" style="margin-top:15px"></div>
</section>
    <script>
    var val = "1.00"
    
    function updateAmount(a){
	val = a
	console.log(val)
    }

    paypal.Buttons({
    createOrder: function(data, actions) {
      // Set up the transaction
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: val
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // Capture the funds from the transaction
      return actions.order.capture().then(function(details) {
        // Show a success message to your buyer
        alert('Transaction completed by ' + details.payer.name.given_name);
      return fetch('/paypal-transaction-complete', {
          method: 'post',
          body: JSON.stringify({
            orderID: data.orderID
          })
        });

      });
    }
    }).render('#paypal-button-container');
    </script>
