<header>
    <h2 class="subheader marginHeight">865LAW</h2>
  <h1 id="header_main">MATTHEW DAVID BAROCAS, P.C.</h1>
    <h2 class="subheader">Attorney at law</h2>
</header>
<div class="wrapper">

  <section class="section">
    <div class="container">
    <div class="row justify-content-center">
      <div id="about" class="square col-md">
        <div class="smOverlay"></div>
        <h3>About</h3>
      </div>
      <div id="attorney" class="square col-md">
        <div class="smOverlay"></div>
        <!-- <h4 class="backgroundLightGrey"><a href="">MATTHEW DAVID BAROCAS</a></h4>
        <h4 class="backgroundGrey"><a href="">BOB LOBLAW</a></h4>
        <h4 class="backgroundDarkGrey"><a href="">HARVEY BIRDMAN</a></h4> -->
        <h3>Attorneys</h3>
      </div>
      <div id="resources" class="square col-md">
        <div class="smOverlay"></div>
        <h3>Resources</h3>
      </div>
      <div id="contact" class="square col-md">
        <div class="smOverlay"></div>
        <h3>Contact Us</h3>
      </div>
    </div>
  </div>
  <div id="services" class="row justify-content-center">
    <div class="backgroundDarkGrey iconBox col-md">
      <i class="fas fa-home"></i>
      <h4><a href="">Real Estate</a></h4>
    </div>
    <div class="backgroundGrey iconBox col-md">
      <i class="fas fa-briefcase"></i>
      <h4><a href="">Business</a></h4>
    </div>
    <div class="backgroundLightGrey iconBox col-md">
      <i class="fas fa-file-invoice-dollar"></i>
      <h4><a href="">Civil Litigation</a></h4>
    </div>
    <div class="backgroundGrey iconBox col-md">
      <i class="fas fa-gavel"></i>
      <h4><a href="">Criminal Litigation</a></h4>
    </div>
    <div class="backgroundDarkGrey iconBox col-md">
      <i class="fas fa-users"></i>
      <h4><a href="">Firm's &amp; Attorney's</a></h4>
    </div>
  </div>
  </section>

  <section class="section bwSection">
    <div class="container">
      <div class="row" style="padding: 0 3em;">
      <div id="morgan" class="col-sm-4">
      </div>
      <div class="col-md-8 infoSection">
        <p>Matthew David Barocas, P.C. is a general practice law firm committed to providing responsive, high quality and cost-effective legal services in an atmosphere emphasizing creativity.</p>
        <p>Our office staff promptly returns client communications, provides our clients with regular status reports and informs clients of significant changes in the law.</p>
        <p>To set up a confidential consultation, please call Matthew David Barocas, P.C. at (865) 288-7877.</p>
      </div>
      </div>
    </div>
  </section>

  <div class="textWrapper">
  <h3>ATTORNEY ADVERTISING</h3>
  <p class="homePara">Prior results do not guarantee a similar outcome.</p>
  <div class="container">
    <div class="row">
      <p class="homePara col-sm-6">The information contained in the Matthew David Barocas, P.C. website is
      provided for informational purposes only, and should not be construed as
      legal advice on any subject matter. No recipient of content from this
      site, client or otherwise, should act or refrain from acting on the
      basis of any content included in this site without seeking the
      appropriate legal or other professional advice on the particular facts
      and circumstances at issue from an attorney licensed in the recipient's
      state. The content of this website contains general information and may
      not reflect current legal developments, verdicts or settlements. Matthew
      David Barocas, P.C. expressly disclaims all liability in respect to
      actions taken or not taken based on any or all the contents of this
      website.</p>

      <p class="homePara col-sm-4">Any information sent to Matthew David Barocas, P.C. via Internet e-mail
      or through this website is not secure and is done so on a
      non-confidential basis. The transmission of the site, in part or in
      whole, and/or communication with Matthew David Barocas, P.C. via
      Internet e-mail through this website does not constitute or create an
      attorney-client relationship between Matthew David Barocas, P.C. and any
      user of this website.</p>

      <p class="homePara col-sm">The firm does not necessarily endorse, and is not responsible for, any
      third-party content that may be accessed through this website.</p>

    </div>
  </div>
</div><!--end of textWrapper-->




<!--    <h2>Responsive, High Quality and Cost-Effective Legal Services</h2>
    <p>Matthew David Barocas, P.C. is a general practice law firm committed to providing responsive, high quality and cost-effective legal services in an atmosphere emphasizing creativity.</p>

    <h2>Personal Attention On Every Case</h2>
    <p>Our office staff promptly returns client communications, provides our clients with regular status reports and informs clients of significant changes in the law.</p>

    <h2>Flexible Appointment Availability</h2>
    <p>To set up a confidential consultation, please call Matthew David Barocas, P.C. at (865) 288-7877.</p>-->
