
<div class="card"  style="margin-top: 6em;">

    <h2>Responsive, High Quality and Cost-Effective Legal Services</h2>
    <p>Matthew David Barocas, P.C. is a general practice law firm committed to providing responsive, high quality and cost-effective legal services in an atmosphere emphasizing creativity.</p>

    <h2>Personal Attention On Every Case</h2>
    <p>Our office staff promptly returns client communications, provides our clients with regular status reports and informs clients of significant changes in the law.</p>

    <h2>Flexible Appointment Availability</h2>
    <p>To set up a confidential consultation, please call Matthew David Barocas, P.C. at (865) 288-7877.</p>

</div>
