<!doctype html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="msapplication-tap-highlight" content="no">

        <link rel="stylesheet" href="/assets/uikit/css/uikit.almost-flat.min.css" media="all">

        <link rel="stylesheet" href="/assets/css/style_switcher.min.css" media="all">

        <link rel="stylesheet" href="/assets/css/main.css" media="all">

        <link rel="stylesheet" href="/assets/css/themes/themes_combined.min.css" media="all">

        <script src="/assets/js/common.min.js"></script>

        <script src="/assets/js/live_analytics_admin_common.min.js"></script>

        <script src="/assets/js/uikit_custom.min.js"></script>
    </head>

    <body class="sidebar_main_closed boxed_layout">
        <h1 style="color:white; margin-bottom: 10px;">MATTHEW DAVID BAROCAS, P.C.</h1>
        <video autoplay muted loop id="flyover" style="z-index:-1;  position:absolute; oject-fit: cover; top:0; left:0;">
          <source src="/assets/media/flyover2.mp4" type="video/mp4">
        </video>
        <div class="uk-grid" data-uk-grid-margin>

            <div class="uk-width-1-1">

        <header id="header_main" style="z-index:3;">
            <div class="header_main_content">
                <nav class="uk-navbar">
                    <div class="uk-float-left">
                        <ul class="uk-navbar-nav user_actions">
                            <li class="uk-active"><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Resources</a></li>
                            <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                                <a href="#">Practice Areas</a>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav js-uk-prevent">
                                        <li class="uk-active"><a href="#">Criminal Defense</a></li>
                                        <li><a href="#">Realistate</a></li>
                                        <li><a href="#">Debt Collection</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <div id="page_content">
            <div id="page_content_inner">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-1">
                        <div class="md-card"  style="margin-top: 6em;">
                        </br>
                            <h2>Responsive, High Quality and Cost-Effective Legal Services</h2>
                            <p>Matthew David Barocas, P.C. is a general practice law firm committed to providing responsive, high quality and cost-effective legal services in an atmosphere emphasizing creativity.</p>
                        </br>
                            <h2>Personal Attention On Every Case</h2>
                            <p>Our office staff promptly returns client communications, provides our clients with regular status reports and informs clients of significant changes in the law.</p>
                        </br>
                            <h2>Flexible Appointment Availability</h2>
                            <p>To set up a confidential consultation, please call Matthew David Barocas, P.C. at (865) 288-7877.</p>
                        </br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <footer id="footer" class="uk-visible-large" style="z-index:3;">
        <span style="color:white;"> 2018 | MATTHEW DAVID BAROCAS, P.C. | ATTORNEY ADVERTISING Prior results do not guarantee a similar outcome.</span>
        <!--<div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-1-3">
                Our Address

                Matthew David Barocas, P.C.
                First Tennessee Plaza
                800 S. Gay St.
                Suite 700
                Knoxville, TN 37929
                Office: (865) 288-7877
                Fax: (865) 766-4101
                E-mail: info@barocaslaw.com
            </div>
            <div class="uk-width-1-3">
                <p>MATTHEW DAVID BAROCAS, P.C.

                Home
                About Us
                Attorneys
                Contact Us
                </p>
            </div>
            <div class="uk-width-1-3">
                <p>ATTORNEY ADVERTISING
                    Prior results do not
                    guarantee a similar outcome.
                </p>
            </div>-->
        </footer>
    </body>
</html>
