<div class="card wrapper">
  <div class="textWrapper container">
    <div class="row">
      <ul class="resourcesList">
        <li><a href="https://www.supremecourt.gov/">Supreme Court of the United States</a></li>
        <li><a href="https://www.ca6.uscourts.gov/">United States Court of Appeals for the Sixth Circuit</a></li>
        <li><a href="https://www.tned.uscourts.gov/">United States District Court, Eastern District of Tennessee</a></li>
        <li><a href="http://tncourts.gov/">Tennessee State Courts</a></li>
        <li><a href="https://www.archives.gov/founding-docs/constitution-transcript">United States Constitution</a></li>
        <li><a href="http://www.capitol.tn.gov/about/docs/TN-Constitution.pdf">Tennessee Constitution</a></li>
        <li><a href="https://www.tn.gov/">State of Tennessee</a></li>
        <li><a href="https://knoxcounty.org/">Knox County</a></li>
        <li><a href="http://knoxvilletn.gov/">City of Knoxville</a></li>
        <li><a href="http://townoffarragut.org/">Town of Farragut</a></li>
        <li><a href="http://blounttn.org/">Blount County</a></li>
      </ul>
      <ul class="resourcesList">
        <li><a href="https://www.loudoncounty-tn.gov/">Loudon County</a></li>
        <li><a href="http://seviercountytn.gov/">Sevier County</a></li>
        <li><a href="http://jeffersoncountytn.gov/">Jefferson County</a></li>
        <li><a href="http://www.anderson-county.com/">Anderson County</a></li>
        <li><a href="https://advance.lexis.com/container?config=014CJAA5ZGVhZjA3NS02MmMzLTRlZWQtOGJjNC00YzQ1MmZlNzc2YWYKAFBvZENhdGFsb2e9zYpNUjTRaIWVfyrur9ud&crid=f8ea4356-905a-48d9-bc4a-4a8d89b4a72f&prid=ce0ecb92-bf9d-4fb1-8299-8b4bfea1a180">Tennessee Code</a></li>
        <li><a href="https://www.tba.org/info/tennessee-rules-of-professional-conduct">Tennessee Rules of Professional Conduct</a></li>
        <li><a href="https://sos.tn.gov/products/division-publications/2017-2018-tennessee-blue-book">Tennessee Blue Book</a></li>
        <li><a href="https://dictionary.thelaw.com/">The Law.com Dictionary</a></li>
        <li><a href="https://knoxcounty.org/circuit/civil_sessions_dockets.php">Knox County General Sessions Court Docket</a></li>
        <li><a href="https://www.knoxcounty.org/apps/courts/circuit_dockets.php">Knox County Circuit Court Docket</a></li>
      </ul>
    </div>
  </div>
</div>
